
.kits {
    min-width: 200px;
    max-width: 200px;
    border-radius: 5px;
    border: solid 2px;
    margin: 5px;
    background-color: grey;
}
.kits img{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 5px;
   

}
.kit-brand{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: purple;
}
.kits p{
    word-break: break-all;
    background: palevioletred;
}
.likes{
    display: flex;
}
.My-Kit-Detail{
    background: palevioletred;
    display: flex;
    flex-wrap: wrap;
}
a {
    padding-left: 5px;
    margin-left: 10px;
    background-color: cornflowerblue;
}
html {
    background-color: grey;
}
.delete{
    background-color: red;
    padding: 10px;
}
form{
    padding: 10px;
    
    margin-left: 10px;
    border-radius: 100px;
    
}
